* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    width: 100%;
    background-color: #292929;
    color: #00e0ff;
}

header {
    background-color: #222;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00e0ff;
}

.textoCorpo {
    color: #00e0ff;
    background-color: #292929;
    margin: 0 !important;
    padding: 25px 25px 0 25px;
}

.corpoSobre{
    background-color: #292929;
    color: #ffffff;
    padding: 0 25px;
}

.corpoSobre p{
    text-indent: 40px;
    text-align: left;
    padding: 25px 25px 0;
    font-weight: 200;
    font-size: larger;
    margin: 0;
    line-height: 2;
}

.social-media {
    display: flex;
    align-items: center;
    padding: 25px 25px 25px 0;
    justify-content: center;
}

.social-media a {
    color: #00e0ff;
    margin-left: 15px;
    font-size: 1.5em;
    transition: 0.4s ease;
    text-decoration: none !important;
}

.social-media a:hover {
    color: #ffffff;
}

.corpoProjeto {
    display: flex;
    color: #00e0ff;
    justify-content: center;
    background-color: #292929;
}

.text {
    background-color: #292929;
    max-width: 800px;
    margin: 0;
    padding: 0;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: transparent;
}

.container-project {
    display: flex;
    margin: 0;
    background: transparent;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 100%;
    border: solid #00e0ff;
    overflow: hidden;
}

.img-project {
    width: 60%;
    height: auto;
    object-fit: cover;
    border-right: solid #00e0ff;
}

.container-text {
    flex: 1;
    padding: 20px;
}

h2 {
    color: #00e0ff;
    margin: 0 0 10px;
}

p {
    color: #ffffff;
    font-size: 14px;
    margin: 0 !important;
}

.button-project {
    margin-top: 12px;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    background-color: transparent;
    border: solid #00e0ff;
    border-width: 1px;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.4s;
}

.button-project:hover {
    background-color: #00e0ff;
    transform: scale(1.05);
}

.corpoTecnologia {
    padding: 0 0 0 25px;
    display: flex;
    justify-content: flex-start;
    background-color: #292929;
}

.technologies {
    margin: 30px;
}

.tech-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tech-item {
    display: flex;
    align-items: center;
    margin: 10px;
    color: #00e0ff;
}

.technologies img {
    margin-right: 10px;
}

.technologies img:hover {
    scale: 1.1;
    transition: 0.4s ease;
    filter: brightness(1.2);
}

footer {
    text-align: center;
    background-color: #222;
    color: #00e0ff;
    padding: 25px
}