body{
    font-family: monospace;
    font-size: 1.2rem;
    margin: 0;

}
header{
    background-color: #07ca89;
    color: #f0f8ff;
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    width: 93.3%;
    border-radius: 5px;
}
section{
    display: flex;  
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-top: 3rem;
    background-color: #ffffff;
    border-radius: 5px; 
    box-shadow: 0px 0px 20px #00000033; 
    width: 80%;
    max-width: 500px;
    margin: 0 auto; 
}
input{
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid #07ca89;
    font-size: 1.2rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    width: 100%;
    background-color: #ffffff;;
}
input[type=button]{
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid #07ca89;
    font-size: 1.2rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    background-color: #07ca89;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
input[type=button]:hover {
    background-color: #37e6ab;
}
select#lista{
    width: 150px;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid #07ca89;
    font-size: 1.2rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    background-color: #ffffff;
}